# Oreon Build Service
# Copyright (C) 2026 Oreon HQ
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.

CONTROLLER_URL=http://controller:8000
OREON_WORKER_TOKEN=
OREON_WORKER_NAME=worker-1

# R2 (worker uploads logs and artifacts here; use same bucket as controller)
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=oreon-repos
R2_ENDPOINT_URL=https://<account_id>.r2.cloudflarestorage.com

# GPG signing (optional, without these, RPMs upload unsigned)
# SIGNING_KEY_ID=
# GPG_HOME=/var/lib/oreon-build/gnupg
